@import 'src/styles/variables';
@import 'src/styles/mixins';

.theater-layout {
  align-items: center;
  justify-content: center;
  background-color: $grey1;
  display: flex;
  flex: 1;
}

.theater-sections {
  @include shadow-higher();
  border-top: 4px solid $accent;
  background-color: #FFFFFF;
  padding: 1.2rem;
}
