@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/common';

.theater-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  h3 {
    font-weight: 600;
    margin-top: 0;
  }
}

.theater-section-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: .8rem;
  margin-top: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.theater-seat {
  @include seat();
}

.theater-seat--group {
  @include seat();
  @include group-seat();
}
