$black: #000000;

@mixin shadow-light() {
  box-shadow: 0 1px 3px rgba($black, .12),
              0 1px 2px rgba($black, .24);
}

@mixin shadow-higher() {
  box-shadow: 0 3px 6px rgba($black, .16),
              0 3px 6px rgba($black, .23);
}

@mixin seat() {
  border-radius: .3rem;
  margin-right: .8rem;
  padding: .2rem;
  user-select: none;
}
