$accent: rgba(5, 102, 141, 1);
$color1: rgba(19, 41, 61, 1);
$color2: rgba(0, 100, 148, 1);
$color3: rgba(36, 123, 160, 1);
$color4: rgba(27, 152, 224, 1);
$color5: rgba(232, 241, 242, 1);


$grey0: #ececec;
$grey1: #d4d4d4;
$grey2: #cccbcb;
$grey3: #a9a9a9;
$grey4: #6b6b6b;
$grey5: #6f6f6f;

$rank1: #f44747;
$rank2: #d696bb;
$rank3: #eedc31;
$rank4: #7fdb6a;
$rank5: #0e68ce;
