@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  // font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h2, h3 {
  color: $grey4;
}

header {
  @include shadow-light();
  background-color: $color4;
  border-top: 6px solid $color3;
  color: $color5;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0.625rem;
  position: relative;

  .app-icon {
    margin-right: 1rem;
    font-size: 2rem;
    color: $accent;
  }

  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
